@{
    ViewData["Title"] = "Home Page";
}

    <style type="text/css">
        body {
            background-image: url('/Images/photographyEyeglasses-.jpg');
            margin: 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover; 
        }
    </style>

<div class="text-center" style=" margin-bottom: 45px;" >
    <h1 style="color: white; 
    background:#868e96; 
    border: 2px solid black;
    border-radius: 2%;
    width:45%; 
    height:45%; 
    margin:auto; 
    font-family: 'Arial, Helvetica, sans-serif'; 
    font-size: 500%;">Welcome</h1>
    <img src="~/Images/ReadditLogoNoBgBlue.png" alt="Site Logo" style="height:500px; width: 500px" /> <br />
    <div>
        <input type="text" class="form-control" placeholder="Search for a forum by Book Title or Author" aria-label="" aria-describedby="button-addon4">
        <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
</div>
