@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <img src="~/Images/ReadditLogoNoBgBlue.png" alt="Site Logo" style="height:500px; width: 500px" /> <br />
        <div>
         <input type="text" class="form-control" placeholder="Search for a forum by Book Title or Author" aria-label="" aria-describedby="button-addon4">
         <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
    </div>
