@model Readdit.Models.AppUserViewModel.UserImageViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Profile</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Description" class="control-label"></label>
                <input asp-for="User.Description" class="form-control" />
                <span asp-validation-for="User.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.City" class="control-label"></label>
                <input asp-for="User.City" class="form-control custom-file" />
                <span asp-validation-for="User.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image"></label>
                <input asp-for="image" type="file" class="" />
            </div>
            <div class="form-group">
                @Html.HiddenFor(i => i.User.imageUrl)
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-page-handler="Upload" type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details">Back to Profile</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
